#presentation {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 5vh;
    justify-content: space-evenly;
    align-items: center;
}

.presentation {
    display: flex;
    width: 55vw;
    background-color: #f3efe8;
    box-sizing: border-box;
    border: 2px solid #eadab4;
    border-radius: 4px;
    box-shadow: 0 2px 5px 1px #3a3b3c;
    justify-content: space-evenly;
    flex-direction: column;
}

.presentation2 {
    width: 50%;
    min-height: 15%;
    margin: 1% 1% 1% 1%;
    background-color: #f3efe2;
    box-sizing: border-box;
    border: 3px solid #eadab4;
    border-radius: 2px;
    box-shadow: 0 2px 3px 0px #3a3b3c;
    text-align: center;
}

#photo {

}

#photo img {
    display: flex;
    height: 35vh;
    width: 35vh;
    max-height: 20vw;
    max-width: 20vw;
    margin: 0 0 0 0;
    box-sizing: border-box;
    border: 3px solid #eadab4;
    border-radius: 10px;
    box-shadow: 0 2px 5px 1px #3a3b3c;
    justify-content: space-evenly;
}