/* Projets */

#projet
{
    width: 100%;
    display: inline-flex;
    flex-flow: wrap;
    margin-top: 3vh;
    justify-content: space-evenly;
}

.projet {
    display: flex;
    height: 60vh;
    width: 25vw;
    min-width: 40vh;
    min-height: 60%;
    max-width: 80%;
    margin: 0 0 0 0;
    margin: 2rem;
    margin-top: 0;
    background-color: #d6eaf8;
    box-sizing: border-box;
    border: 3px solid #93b8db;
    border-radius: 30px;
    /*box-shadow: 0 2px 5px 1px #93b8db;*/
    justify-content: space-evenly;
}

.projet h3 {
    color: #000000;
    font-size: 1rem;
}
